extends layout

block content
    div.header
        h1.twitter-tracker__title= title
        p.twitter-tracker__message Welcome to #{title}

    div.twitter-container

    script.
        var socketPort = #{socket_port};

    script(src='/socket.io/socket.io.js')  
    script(src='/scripts/socket-listener.js')
