* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 14px 'Open Sans', sans-serif;
    background: #000;
    color: #FFF;
}

.header {
    flex: 0 auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 -78px 70px 40px #4ede5f;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.twitter-tracker__title {
    font-size: 70px;
    text-align: center;
    margin: 0;
}

.twitter-container {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.tweet-container {
    border-bottom: 2px dotted #4ede5f;
    padding: 10px 0;
    word-break: break-all;
    word-wrap: break-word;
}

.twitter-container .tweet-container:first-child {
    border: 2px dotted #4ede5f !important;
    padding: 10px;
    font-size: 18px;
    color: #ff0095;
}

.twitter-container .tweet-container:last-child {
    border: none;
}

.twitter-container .tweet-container:not(:first-child) {
    color: #FFF;
}

.tweet-link,
.user-account-link {
    color: #ff0095;
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
}

.twitter-tracker__tracking {
    font-weight: 700;
    color: #ff0095;
}
