* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
    flex: 0 auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 -60px 70px 30px #000;
}

.twitter-tracker__title {
    font-size: 70px;
    text-align: center;
    margin: 0;
}

.twitter-container {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
}

.tweet-container {
    border-bottom: 2px dotted #000;
    padding: 10px 0;
}

.twitter-container .tweet-container:first-child {
    padding: 10px 0;
    font-size: 18px;
    color: #ff0095;
}

.twitter-container .tweet-container:last-child {
    border: none;
}

.twitter-container .tweet-container:not(:first-child) {
    color: #000;
}

.tweet-link,
.user-account-link {
    color: #ff0095;
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
}
